@import url(https://fonts.googleapis.com/css?family=Raleway);
div {
  display: block;
  margin: 10px;
}

html, body, {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

h1 {
  font-weight: bold;
  margin-left: 20px;
  font-family: "Raleway";
  font-size: 18px;
}

.list {
  margin-top: 35px;
}

.container {
  display: flex;
  min-height: 400px;
  width: 900px;
  overflow-x: auto;
  border: 1px solid #ccc;
}

.container > * {
  flex: 0 0 auto;
}

.console {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  height: 30px;
  padding: 0;
  margin: 0;
}
.console > h4 {
  margin: 5px;
}

.draggable {
  background-color: green;
  font-family: "Raleway";
  color: white;
  width: 180px;
  height: 50px;
  text-align: center;
  padding-top: 1px;
  box-sizing: border-box;
  float: left;
  clear: left;
}
.draggable--active {
  opacity: 0.5;
}

.drop-zone {
  margin-top: 20px;
  min-height: 100px;
  width: 300px;
  border: 1px solid #ccc;
}
.drop-zone--active {
  background-color: cadetblue;
}
